.seat-page{
  min-height:100vh;
  background:#111;
}

.seats-container{
  display:grid;
  grid-template-columns:repeat(8,1fr);
  gap:15px;
}

.seat{
  background:#666;
  color:white;
  padding:18px;
  text-align:center;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.seat:hover{
  transform:scale(1.08);
}

.selected{
  background:#ff1744;
}

.payment-box{
  background:#1f1f1f;
  padding:30px;
  border-radius:20px;
  color:white;
  box-shadow:0 0 20px rgba(255,255,255,0.1);
}

input{
  background:#2b2b2b;
  border:none;
  color:white;
  padding:12px;
}

button{
  padding:12px;
  font-size:18px;
  border:none;
}